{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Meetups{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}" />
    {% block css_files %}{% endblock css_files %}
    {% comment %} <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}"> {% endcomment %}
  </head>
  <body>
    <header id="main-header">
      <nav>
        <a href="/meetups" id="main-logo">Django Meetups</a>
        <h2>{% block main_heading %}{% endblock main_heading %}</h2>
        <p>{% block header_content %}{% endblock header_content %}</p>
      </nav>
    </header>
    <main>
        {% block body %}{% endblock body %}
    </main>
  </body>
</html>
